<div class="container">
  <h1>Ласкаво просимо до панелі адміністратора</h1>

  <div class="mt-4">
    <%= link_to "Переглянути марки", admin_brands_path, class: "btn btn-primary" %>
  </div>

  <div class="mt-4">
    <%= link_to "Переглянути моделі", admin_models_path, class: "btn btn-primary" %>
  </div>

   <div class="mt-4">
    <%= link_to "Управління користувачами", admin_users_path, class: "btn btn-primary" %>
  </div>

  <div class="mt-4">
    <%= link_to "Управління товарами", products_path, class: "btn btn-primary" %>
  </div>

  <div class="mt-4">
  <%= link_to "Переглянути всі відгуки", reviews_path, class: "btn btn-primary" %>
  </div>

  <div class="mt-4">
    <%= link_to "Переглянути замовлення", admin_orders_path, class: "btn btn-primary" %>
  </div>

</div>
