<h1>Двигуни для <%= @model.name %> (<%= @model_year.year.year %>)</h1>

<%= link_to "Додати двигун", new_admin_model_model_year_engine_path(@model, @model_year), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Назва двигуна</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    <% @engines.each do |engine| %>
      <tr>
        <td><%= engine.name %></td>
        <td>
          <%= link_to "Редагувати", edit_admin_model_model_year_engine_path(@model, @model_year, engine), class: "btn btn-secondary" %>
          <%= button_to "Видалити", admin_model_model_year_engine_path(@model, @model_year, engine), method: :delete, data: { confirm: "Ви впевнені?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
