<%= form_with model: @order, local: true do |f| %>

  <!-- Персональні дані -->
  <div class="form-group">
    <%= f.label :name, "Ім'я" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Електронна пошта" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Телефон" %>
    <%= f.telephone_field :phone, class: "form-control" %>
  </div>

  <!-- Адреса -->
  <fieldset>
    <h3>Адреса</h3>

    <%= f.fields_for :address do |address_fields| %>
      <div class="form-group">
        <%= address_fields.label :region, "Область" %>
        <%= address_fields.select :region,
                                  options_for_select(@regions.map { |r| [r["name_uk"], r["uuid"]] }, selected: params.dig(:order, :address_attributes, :region)),
                                  { prompt: "Виберіть область" },
                                  { class: "form-select", onchange: "this.form.submit();" } %>
      </div>

      <div class="form-group">
        <%= address_fields.label :district, "Район" %>
        <%= address_fields.select :district,
                                  options_for_select(@districts.map { |d| [d["name_uk"], d["uuid"]] }, selected: params.dig(:order, :address_attributes, :district)),
                                  { prompt: "Виберіть район" },
                                  { class: "form-select", onchange: "this.form.submit();" } %>
      </div>

      <div class="form-group">
        <%= address_fields.label :settlement, "Населений пункт" %>
        <%= address_fields.select :settlement,
                                  options_for_select(@settlements.map { |s| [s["name_uk"], s["uuid"]] }, selected: params.dig(:order, :address_attributes, :settlement)),
                                  { prompt: "Виберіть населений пункт" },
                                  { class: "form-select", onchange: "this.form.submit();" } %>
      </div>

      <div class="form-group">
        <%= address_fields.label :post_office, "Поштове відділення" %>
        <%= address_fields.select :post_office,
                                  options_for_select(@post_offices.map { |p| [p["name_uk"], p["uuid"]] }, selected: params.dig(:order, :address_attributes, :post_office)),
                                  { prompt: "Виберіть поштове відділення" },
                                  { class: "form-select" } %>
      </div>
    <% end %>
  </fieldset>

  <!-- Спосіб оплати -->
  <h3>Спосіб оплати</h3>
  <div class="form-group">
    <%= f.label :payment_method, "Виберіть спосіб оплати" %>
    <%= f.select :payment_method, [['При отриманні', 'cash'], ['Оплата карткою', 'card']],
                  { selected: @order.payment_method },
                  { class: 'form-select', onchange: 'this.form.submit();' } %>
  </div>

  <% if @order.payment_method == 'card' %>
    <!-- Поля для введення даних картки -->
    <h4>Дані карти</h4>
    <div class="form-group">
      <%= f.label :card_number, "Номер карти" %>
      <%= f.text_field :card_number,
          class: 'form-control',
          maxlength: 16,
          placeholder: '1234567890123456',
          pattern: '^\d{16}$',
          title: 'Введіть номер карти у форматі 1234567890123456',
          oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label :card_expiry_month, "Місяць (MM)" %>
        <%= f.text_field :card_expiry_month,
            class: 'form-control',
            maxlength: 2,
            placeholder: 'MM',
            pattern: '^(0[1-9]|1[0-2])$',
            title: 'Введіть місяць у форматі MM',
            oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
      </div>

      <div class="col-sm-6">
        <%= f.label :card_expiry_year, "Рік (YY)" %>
        <%= f.text_field :card_expiry_year,
            class: 'form-control',
            maxlength: 2,
            placeholder: 'YY',
            pattern: '^\d{2}$',
            title: 'Введіть рік у форматі YY',
            oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :card_cvc, "CVC" %>
      <%= f.password_field :card_cvc,
          class: 'form-control',
          maxlength: 3,
          pattern: '^\d{3}$',
          title: 'Введіть 3-значний CVC код',
          oninput: "this.value = this.value.replace(/[^0-9]/g, '');" %>
    </div>
  <% end %>

  <!-- Кнопка надсилання -->
  <div class="form-group">
    <%= f.submit "Оформити замовлення", class: "btn btn-primary" %>
  </div>
<% end %>
