<h1>Оформлення замовлення</h1>

<%= form_for @order do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <h3>Адреса доставки</h3>
  <%= f.fields_for :address do |address_form| %>
    <!-- Спочатку область -->
    <%= address_form.label :region, "Область" %>
    <%= address_form.text_field :region, id: 'order_address_region' %>

    <!-- Потім місто -->
    <%= address_form.label :city, "Місто" %>
    <%= address_form.text_field :city, id: 'order_address_city' %>

    <!-- Потім вулиця (будинок та квартира) -->
    <%= address_form.label :line1, "Вулиця" %>
    <%= address_form.text_field :line1, id: 'order_address_line1' %>

    <%= address_form.label :line2, "Будинок/Квартира" %>
    <%= address_form.text_field :line2 %>

    <!-- Поштовий індекс -->
    <%= address_form.label :postal_code, "Поштовий індекс" %>
    <%= address_form.text_field :postal_code, id: 'order_address_postal_code' %>
  <% end %>

  <%= f.submit "Оформити замовлення" %>
<% end %>
