<%= form_with model: @product, url: admin_product_path, local: true, html: { multipart: true } do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger">
      <h4>Є помилки у вашій формі:</h4>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Назва товару", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :price, "Ціна", class: "form-label" %>
    <%= f.number_field :price, step: 0.01, class: "form-control", required: true%>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Опис", class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :part_id, "Деталь", class: "form-label" %>
    <%= f.select :part_id, @parts.map { |p| [p.name, p.id] }, { include_blank: "Виберіть деталь" }, class: "form-select", onchange: "his.form.submit()" %>
  </div>

  <div class="mb-3">
    <%= f.label :brand_id, "Марка", class: "form-label" %>
    <%= f.select :brand_id, @brands.map { |b| [b.name, b.id] }, { include_blank: "Виберіть марку" }, class: "form-select", onchange: "his.form.submit()" %>
  </div>

  <div class="mb-3">
    <%= f.label :model_id, "Модель", class: "form-label" %>
    <%= f.select :model_id, @models.map { |m| [m.name, m.id] }, { include_blank: "Виберіть модель" }, class: "form-select", onchange: "his.form.submit()" %>
  </div>

  <div class="mb-3">
    <%= f.label :model_year_id, "Рік моделі", class: "form-label" %>
    <%= f.select :model_year_id, @years.map { |y| [y.name, y.id] }, { include_blank: "Виберіть рік моделі" }, class: "form-select", onchange: "his.form.submit()" %>
  </div>

  <div class="mb-3">
    <%= f.label :engine_id, "Двигун", class: "form-label" %>
    <%= f.select :engine_id, @engines.map { |e| [e.name, e.id] }, { include_blank: "Виберіть двигун" }, class: "form-select", onchange: "his.form.submit()" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "Зображення", class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Зберегти", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Назад', admin_products_path, class: "btn btn-secondary mt-4" %>
