


<%= form_with model: @product, 
              url: @product.new_record? ? admin_products_path : admin_product_path(@product), 
              method: @product.new_record? ? :post : :patch, 
              local: false,
              html: { multipart: true } do |f| %>

  <% if @product.errors.any? %>
    <div class="alert alert-danger">
      <h4>Є помилки у вашій формі:</h4>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Назва товару", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :price, "Ціна", class: "form-label" %>
    <%= f.number_field :price, step: 0.01, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Опис", class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :part_id, "Деталь", class: "form-label" %>
    <%= f.collection_select :part_id, @parts, :id, :name, include_blank: "Виберіть деталь", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :brand_id, "Марка", class: "form-label" %>
    <%= f.collection_select :brand_id, @brands, :id, :name, include_blank: "Виберіть марку", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :model_id, "Модель", class: "form-label" %>
    <%= f.collection_select :model_id, @models, :id, :name, include_blank: "Виберіть модель", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :model_year_id, "Рік моделі", class: "form-label" %>
    <%= f.collection_select :model_year_id, @years, :id, :name, include_blank: "Виберіть рік моделі", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :engine_id, "Двигун", class: "form-label" %>
    <%= f.collection_select :engine_id, @engines, :id, :name, include_blank: "Виберіть двигун", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "Зображення", class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Зберегти", class: "btn btn-primary" %>
  </div>

<% end %>


<%= link_to 'Назад', admin_products_path, class: "btn btn-secondary mt-4" %>
