<%= form_with(model: [:admin, user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "помилка") %> не дозволяє зберегти цього користувача:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Ім'я" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, "Електронна пошта" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, "Пароль" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Підтвердження паролю" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :role, "Роль" %>
    <%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] } %>
  </div>

  <div class="actions">
    <%= form.submit "Зберегти" %>
  </div>
<% end %>
