<h1>Список всіх відгуків</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Продукт</th>
      <th>Користувач</th>
      <th>Рейтинг</th>
      <th>Вміст</th>
      <th>Дата створення</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= link_to review.product.name, review.product %></td>
        <td><%= review.user.email %></td>
        <td><%= review.rating %></td>
        <td><%= review.content %></td>
        <td><%= review.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <% end %>
  </tbody>
</table>
